body{
 background-color: bisque;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
 text-align: center;
 mergin-top: 20px;
}
.profile{
    width: 400px;
    margin: 0 auto; 
    pedding: 20px;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
    margin-top: 20px;
}
.profile image{
    width: 100px;
    border-radius: 10px;
    

}
footer{
    text-align: center;
    margin-top: 20px;
}